<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<d>Hello Yose</d>
<br>
<p> <a href="/Minesweeper" id="cont"> link </a> </p>
<p>
    <a href="https://github.com/amassiguile/scrumteam2020" id="repository-link">Github</a>
    <p>ssxfddfgd</p>>
</p>
<p>



    <a href="/primeFactors/ui" id="prime-factors-decomposition-link">primeFactors</a>
</p>
<!--
<a href="/ping" id="ping">ping</a>

<p><a href="/ver" id="con">Contact Me</a></p>



-->

</body>
</html>